.newscontainer{
  display: flex;
  margin-top: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 1em;
  padding: 1.6em 2em 2em 2em;
  color:rgb(66, 66, 66);
  flex-direction: column;
  height: 324px;
  overflow: auto;
  padding: 20px;
  width: 35%;
  height: 605px;;
}

.body {
  width: 31vw;
}

.source {
  margin-top: 2px;
  color: gray;
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
  
}

.section {
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.6em 0.6em 0.6em 0.6em;
  color:rgb(66, 66, 66);
  margin-bottom: 15px;
  margin-top: 5px;
}

.subSection {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.2em;
}

.imgTag{

  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 500;
  margin-left: 8px;
  padding: 10px;

}

.thumbnail {
  height: fit-content;
  border-radius: 7px;
  max-width: 125px;
  align-self: center;
}


.topstories{
  margin-top: -0.3em;
  padding-bottom: 1em;
  font-weight: 500;
  color: rgb(255, 142, 198);
  font-size: 28px;
  position: sticky;
}

.atag{
  text-decoration: none;
  all: unset;
  cursor: pointer;
}

  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b1b2e5;
    border-radius: 24px;
    border: 3px solid #ffffff;
  }

