.container {
  margin-top: 1em;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  width: auto;
}


.container__header,
.todos__header {
  text-align: center;
  margin-left: 40%;
  font-family: Arial, Helvetica, sans-serif;
}

.todos__col {
  border-radius: 16px;
  height: 290px;
  width: 290px;
  padding: 15px;
  overflow: auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.add__block {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-bottom: 5px;
  overflow-x: hidden;
}

.todos__add {
  all: unset;
  color: #65a0db;
  border-radius: 150px;
  padding: 1px 12px;
  cursor: pointer;
  /* background-color: #65a0db; */
  margin-left: 160px;
  position: absolute;
  font-size: 24px;
}

.todos__add:hover {
  color: white;
  font-size: 28px;
  transition: ease-in-out;
}

.todos__searchBox {
  margin-top: 10px;
  margin-left: 5px;
  width: 230px;
  border: 0px solid ;
  border-radius: 5px;
  margin-right: 5px;
  height: 30px;
  outline: none !important;
}

.task {
  margin-top: 12px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 14px;
  background: white;
  position: relative;
}

.todo {
  border-left: solid 5px #fcd900;
}

.inprogress {
  border-left: solid 5px #0aa1dd;
}

.done {
  border-left: solid 5px #6bcb77;
  text-decoration: line-through;
}

.add_btn {
  color: green;
  cursor: pointer;
}

.todocontainer {
  background-color: #d9d7f1d9;
  
}

.inprogresscontainer {
  background-color: #fdcfdfe1;

}

.donecontainer {
  background-color: #a6dcefe5;

}

.taskdrag {
  box-shadow: 0 0 20px black;
}

.todos__col::-webkit-scrollbar {
  width: 8px;
}

.todos__col::-webkit-scrollbar-track {
  background: rgba(182, 137, 192, 0.5);
  border-radius: 10px;
  margin-block: 0.5em;
}

.todos__col::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to bottom, #fc5c7d, #6a82fb);
}

.cancelbtn {
  all: unset;
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px;
  cursor: pointer;
  margin: 6px 5px 5px 0;
}

.dragtodo {
  background-color: #947ec3;
}

.draginprogress {
  background-color: #ff6fb5;
}

.dragdone {
  background-color: #0aa1dd;
}
