@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');
@import-normalize;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.5;
  font-size: calc(12px + 0.4vw);
  background-color: rgb(249, 250, 251);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
