.background{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 99999;
}

.layout {
  background: linear-gradient(135deg, #bfaebf, #c03ac0);
  border-radius: 16px;
  padding: 10px;
  margin: 0 auto;
  width: 20rem;
  overflow: auto;
  box-shadow: black;
}

.newentry {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: sans-serif;
}

.formlayout{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
}

.radio{
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.button {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.xbutton{
  align-self: end;
  top: 0;
  right: 0;
}