.main {
  border-radius: 16px;
  padding: 10px;
<<<<<<< HEAD
=======

>>>>>>> 2061166ce823716b0cccbac48e464b41a2459885
  top: 0;
  width: 20rem;
  overflow: auto;
  border-radius: 16px;
  padding: 10px;
  /*height: 45vh;*/
  box-shadow: rgb(145 158 171 / 20%) 0px 3px 1px -2px,
    rgb(145 158 171 / 14%) 0px 2px 2px 0px, rgb(145 158 171 / 12%) 0px 1px 5px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.headerText {
  font-weight: 500;
  font-size: 35px;
  color: #3f4042;
  margin-right: 30px;
}

.journalbtn {
  /* background-color: #bdaefbdf; */

  margin-top: 12px;
  color: rgb(103, 103, 103);
  cursor: pointer;
  font-size: 1.5em;
  width: fit-content;
  height: fit-content;
}

.journalbtn:hover {
  transition: all 0.2s ease 0s;
  transform: scale(1.15, 1.15);
}

.container {
  display: flex;
  align-items: center;
  box-shadow: rgb(145 158 171 / 20%) 0px 3px 1px -2px,
    rgb(145 158 171 / 14%) 0px 2px 2px 0px, rgb(145 158 171 / 12%) 0px 1px 5px;
  border-radius: 16px;
  padding: 8px;
  background-color: #fef6ff;
  margin: 5px auto;
  color: #4d5156;
}

.title {
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: #262626;
}

.container:hover {
  transition: all 0.2s ease 0s;
  transform: translateY(-3px);
}

.tag {
  font-size: 13px;
  padding: 3px 8px;
  border-radius: 16px;
  margin-bottom: 5px;
  margin-right: 7px;
  width: fit-content;
  line-height: 1;
}

.code {
  color: rgb(37, 185, 62);
  background-color: rgb(206, 253, 215);
}

.danger {
  color: rgb(255, 85, 85);
  background-color: #fdcfdfce;
}

.normal {
  color: rgb(88, 111, 250);
  background-color: #a6dcefe5;
}

.tags {
  display: flex;
}

.main::-webkit-scrollbar-track {
  background: rgba(182, 137, 192, 0.5);
  border-radius: 10px;
  margin-block: 0.5em;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to bottom, #fc5c7d, #6a82fb);
}

.entry_header {
  font-size: 15px;
  font-weight: 500;
}

.date {
  display: flex;
  flex-direction: column;
  padding: 2px 5px;
  border: 1px solid #ececec;
  background-color: #beaefb;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}

.date__month {
  font-size: 15px;
  font-weight: bold;
}

.date__year {
  font-size: 15px;
}

.date__day {
  font-size: 25px;
  font-weight: bold;
}

.description {
  font-size: 12px;
}
