.main {
  border-radius: 16px;
  padding: 10px;
  /* height: 45vh; */
  margin: 0 auto;
  width: 20rem;
  overflow: auto;
  box-shadow: rgb(145 158 171 / 20%) 0px 3px 1px -2px,
    rgb(145 158 171 / 14%) 0px 2px 2px 0px, rgb(145 158 171 / 12%) 0px 1px 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.journalbtn {
  all: unset;
  background-color: #c197ff;
  color: white;
  border-radius: 10px;
  padding: 5px 16px;
  cursor: pointer;
}

.journalbtn:hover {
  transition: all 0.2s ease 0s;
  transform: scale(1.15, 1.15);
}

.container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(229, 233, 255);
  border-radius: 16px;
  padding: 5px;
  background-color: #fef6ff;
  margin: 5px auto;
  color: #4d5156;
  gap: 5px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: #343434;
}

.container:hover {
  transition: all 0.2s ease 0s;
  transform: translateY(-3px);
}

.tag {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 16px;
  margin-bottom: 5px;
  margin-right: 7px;
  width: fit-content;
  line-height: 1;
}

.code {
  color: rgb(37, 185, 62);
  background-color: rgb(206, 253, 215);
}

.danger {
  color: rgb(255, 85, 85);
  background-color: rgb(255, 218, 218);
}

.normal {
  color: rgb(88, 111, 250);
  background-color: rgb(229, 233, 255);
}

.tags {
  display: flex;
}

.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background: rgba(182, 137, 192, 0.5);
  border-radius: 10px;
  margin-block: 0.5em;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to bottom, #fc5c7d, #6a82fb);
}

.entry_header {
  font-size: 14px;
}

.date {
  display: flex;
  flex-direction: column;
  padding: 2px 5px;
  border: 1px solid #ececec;
  background-color: #cd8686;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.date__year {
  font-size: 0.75rem;
}

.date__day {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  font-size: 12px;
}
