.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.camera {
  border-radius: 25px;
  width: 500px;
}

.btn:hover {
  transition: all 0.2s ease 0s;
  transform: scale(1.15, 1.15);
}

.btn {
  all: unset;
  color: white;
  border-radius: 10px;
  padding: 5px 16px;
  cursor: pointer;
  width: 140px;
}

.green {
  background-color: #83bd75;
}

.red {
  background-color: #ffa1a1;
}

.blue {
  background-color: #1976d2;
  width: 150px;
}

.btncontainer {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.graph {
  text-align: center;
  margin: 10px auto;
  width: 40%;
}
