.header {
  padding-top: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5%
}

.borderforheader {
  border-top: 3px solid black;
  width: 5%;
  margin-top: 1%;
}

.container {
  color:rgb(56, 56, 56);
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 20px;
  align-items: center;
  padding: 23px;
  padding-left: 30px;
  width: 350px;
  height: 500px;
  overflow: hidden;
  position: relative;
  
  border-radius: 13px;
  box-shadow: 0 4px 35px rgba(94, 94, 94, 0.555);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.428);
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease
}

.container:hover{
  -webkit-transform:translateY(-10px);
  transform: translateY(-10px)
}

.container::-webkit-scrollbar {
  display: none;
}

.name {
  font-weight: 500;
  margin-top: 8px;
  display: flex;
  align-self: center;
  font-size: 16px;
}

.img {
  padding-top: 0.7em;
  width: 85%;
  border-radius: 10px;
  margin-left: 22px;
  justify-content: center;


}

.description {
  display: flex;
  text-align: center;
  font-size: 70%;

}


.icon {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  margin-top:10px;
}

.atag {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  padding-right: 7px;

}

.cards {
  display: flex;
  justify-content: space-evenly;
}


.missionstatement{
  width: 70%;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 105%;
  font-style: helvetica, sans-serif;
  padding: 0.6em;
}

.quote{
  margin-top: 10px;
  display: flex;
  text-align: center;
  font-size:0.8em;
}