.main_container {
  padding-top: 8.5em;
  display: flex;
  justify-content: space-around;
  width: 800px;
  
}



.writeHelperTool {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-height: 50%;
  top: 50%;
  margin-left: 30px;
}

.news {
  padding-left: 20em;
}
