.main_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.weather {
  grid-area: 1 / 1 / 2 / 2;
}
.timer {
  grid-area: 1 / 2 / 2 / 3;
}
.journal {
  grid-area: 1 / 3 / 3 / 4;
  justify-self: center;
}
.todo {
  grid-area: 2 / 1 / 3 / 3;
}
