.navbar {
  display: flex;
  align-items: center;
  background-color: #f3f2f7;
  justify-content: space-between;
  z-index: 999 !important;
  position: fixed;
  width: 100%;
}


.logo {
  width: 200px;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.linklist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linklist li {
  margin-right: 20px;
  font-weight: 600;
}

.link__list li a {
  color: #9772fb;
  margin-right: 2em;
}