.navbar {
  display: flex;
  align-items: center;
  background-color: #f3f2f7;
  justify-content: space-between;
  z-index: 999 !important;
  position: fixed;
  width: 100%;
}

.logo {
  width: 200px;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.linklist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link__list li {
  color: rgb(88, 184, 128);
  margin-right: 2em;
}

.link__list li a {
  color: rgb(135, 121, 215);
}
