$primary: #F3F2F7 ;
@import "bootstrap";

.navbar-expand-lg {
  height: 10vh;

  .navbar-brand {
   left: 20px;
   position: absolute;

    #mainLogo {
      width: 250px;
      height: auto;
    }
  }

  .nav-btn {
    margin-left: 70%;
  }
}

.container-fluid {
  margin-left: 2em;
}

ul {
  &.navbar-nav {
    position: absolute;
    top: 20px;
    right: 200px;
  }
}


li {
  &.nav-btn {
    font-size: 30px;
    padding-left: 0.5em;
  }
}

