/* .d-flex justify-content-center align-items-center container {
  z-index: -1;
} */

.main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 7.7em;
  width: 100%;
  /* border: 2px dotted red; */
}

.main_column {
  /* border: 2px dotted orange; */
  width: 70vw;
}

.row_1 {
  display: flex;
  /* border: 2px dotted yellow; */
  justify-content: space-between;
  height: 350px;
}

.wt_container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  /* border: 2px dotted green; */
  width: 50%;
  justify-content: space-evenly;
  padding: 1em 2em 2em 2em;
  margin: 1em;
}

.login {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* border: 2px dotted blue; */
  width: 50%;
  padding: 1em;
  overflow: auto;
  margin: 1em;
  
}

.journal {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1em;
  height: 100%;
}

.todo {
  width: 55vw;
  display: flex;
  margin: 1em auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.weather {
  display: flex;
  margin-top: 1em;
  width: 100%;
  justify-content: center;
  
}


.weather:hover {
  transition: all 0.2s ease-in-out 0s;
  transform: scale(1.05, 1.05);
}

.timer {
  margin-top: 2em;
  margin-left: 1.2em;
}

.timer:hover {
  transition: all 0.2s ease-in-out 0s;
  transform: scale(1.05, 1.05);
}






