.loginPage {
  display: flex;
  flex-direction: column;
}

.loginBtn {
  display: inline;
  width: 300px;
  text-align: center;
  background-color: #1DB954 ;
  border-radius: 30px;
  color:  #fefefe;
  font-weight: 600;
  margin: auto;
  padding: 15px 32px;
  margin-top: 60px;
}

a {
  text-decoration: none;

}

.spotify_logo {
  color:#000000;
  font-size: 50px; 
  margin: auto;
  margin-top: 10px;
}



