.resultContainer {
  width: 100%;
  height: 100%;

}

.trackContainer {
  width: 100%;
  max-height: 100%;

}

.searchResult {
  border: 1.5px solid rgb(80, 80, 80);
  margin: 0;
  text-align: left;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.searchResult:hover {
  box-shadow: 0 8px 6px -6px black;
  font-size: 16px;
  transition: ease-in;
}

.albumImage {
 
  margin-right: 1em;
  box-shadow: 0 8px 6px -6px black;
  padding: 2px;
}

.spotifyPlayer{
  box-shadow: 0 6px 5px -5px black;
}

.spotifyPlayer:hover {
  transition: all 0.2s ease-in-out 0s;
  transform: scale(1.02, 1.02);

}

.spotifyLogo {
  width: 270px;
  text-align: center;
  margin: 1em 0em 0em 5em;
}


