.searchForm {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchInput {
  margin: 10px 0px 7px 0px;
  width: 100%;
  border-radius: 15px;
  border: 0px solid rgb(59, 59, 59);
  box-shadow: 0 5px 5px -6px black;
  outline: none !important;
  height: 30px;
  padding-left: 10px;
}
.searchInput:hover {
  height: 32px;
}

.searchInput:focus {
  appearance: none;
  text-decoration: none;
  background-color: #fff !important;
  outline: none !important;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}

.btn {
  box-shadow: 0 5px 4px -4px black;
  appearance: none;
  background-color: #66616a;
  border: 0px solid #dbdbdb;
  color: #ffffff;
  cursor: pointer;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.2rem;
  height: 1.5em;
  text-align: center;
  width: auto;
  margin: 25px 6px 10px 6px;
  padding: 5px 18px 3px 16px;
  border-radius: 40px;
  
}

.btn:active {
  color: #fff;
  background-color: #636363;
  outline: 0;
}

.btn:focus {
  border-color: #485fc7;
  outline: 0;
}

.btn:hover {
  background-color: #fdcfdfe1;
  color: #7d7d7d;
  transition: ease-in-out;
}


